:root{
    --contHeight: 580px;
    --boxHeight: 100;
    --bordersize: calc((var(--contHeight) / var(--boxHeight)) * 0.01);
}
*{
    margin: 0;
    padding: 0;
   /* box-sizing: border-box;  */
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

}
#container{
    display: flex;
    flex-wrap: wrap;
    height: var(--contHeight);
    width: var(--contHeight);
    overflow: hidden;
    /* flex: 1; */
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: calc(var(--contHeight) / var(--boxHeight) );
    height: calc(var(--contHeight) / var(--boxHeight) );
    background-color:rgb(246, 252, 252) ;
    border: var(--bordersize) solid rgba(199, 239, 239, 0.279);
     box-sizing: border-box; 
}
.top{
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#left{
    display: flex;
    gap: 15px;
    width: 50%;
}
#right {
    display: flex;
    /* gap: 60px; */
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
#changeSize{
    width: 100%;
}
#clear{
    width: 60%;
    height: 30%;
    background-color: aqua;
    border: none;
    font-weight: 550;
    padding: 10px;
}
