* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
h1{
    color: rgb(183, 74, 96);
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
}
#timeId{
    color: rgb(74, 96, 183);
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-style: italic;
}
